.advantage {
    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop {
        padding-top: var(--typical-padding-gap);
        padding-bottom: var(--typical-padding-gap);
    }
}

.advantage__list {
    margin-bottom: calc((-1) * var(--typical-margin-gap));
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc((-1) * var(--typical-margin-gap));
    }
}

.advantage__item {
    margin-bottom: 30px;
    @include tablet {
        width: calc(100% / 2 - 30px);
        margin-left: var(--typical-margin-gap);
    }
    @include desktop {
        width: calc(100% / 4 - 30px);
    }

    &::before {
        display: block;
        content: "";
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;
    }
}

.antena::before {
    background-image: url(../images/icons/antenna.svg);
}

.clock::before {
    background-image: url(../images/icons/clock.svg);
}

.diagram::before {
    background-image: url(../images/icons/diagram.svg);
}

.astronaut::before {
    background-image: url(../images/icons/astronaut.svg);
}

.advantage__subtitle {
    color: var(--title-color);
    margin-bottom: 10px;
    @include tablet {
        text-align: start;
    }
}

.advantage__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 100%;
}