.team {
    background-color: #F5F4FA;
    padding-top: var(--typical-padding-gap);
    padding-bottom: var(--typical-padding-gap);
}

.team__title {
    text-align: center;
    margin-bottom: 50px;
}

.team-cards {
    display: flex;
}

.team-cards__item {
    background: #FFFFFF;
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    &:not(:last-child) {
        margin-right: var(--typical-margin-gap);
    }
}

.team-cards__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-cards__text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}