:root {
    --title-color: #212121;
    --first-btn-color: #FFFFFF;
    --second-btn-color: #212121;
    --accent-color: #2196F3;
    --logo-web-color: #2196F3;
    --logo-studio-color: #000000;
    --typical-padding-gap: 94px;
    --typical-margin-gap: 30px;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --projects-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    --filters-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}